.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  height: 100vh;
  padding: 30px;
  text-align: start;
}
.logo {
}
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navItem {
  margin-bottom: 16px;
}
.navLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;

  transition: background-color 0.3s ease;
}
