.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboardArea {
  width: 100%;
  max-width: 1400px;

  display: grid;
  grid-template-columns: minmax(0, 1fr) 320px;
  gap: 48px;

  padding: 32px;
}

.mainContent {
  min-width: 0;
}

.profileSection {
  width: 320px;
}
