.layout {
  display: flex;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboardArea {
  display: grid;
  grid-template-columns: fit-content(800px) 320px;
  gap: 40px;

  max-width: 1280px;
  padding: 32px;
}

.mainContent {
  width: 100%;
}

.profileSection {
  width: 320px;
  flex-shrink: 0;
}

.layout {
  display: flex;
  min-height: 100vh;

  background: #f8fafc;
}

.content {
  flex: 1;
  overflow-x: hidden;
}
