.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0ffff;
  color: #000000;
  border-radius: 14px;

  padding: 15px;
  width: 164px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  transition: 0.2s ease;
}

.button:hover {
  background: #808080;
  color: #f0ffff;
  transform: translateY(-4px);
  cursor: pointer;
}
